.controlpanel-container {
    /* background-color: green; */
    width: 100%;
}
.controlpanel-container input {
    transition: 0.5s;
    padding: 0.6rem;
    font-size: 1.2rem;
    border: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: none;
    border: 2px solid var(--bg-color-contrast);
}

.controlpanel-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3rem;

    width: 100%;
}
.controlpanel-container input {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.text-error input {
    border: 2px solid red;
}