.heap-node {
    r: 25;
    fill: var(--bg-color-contrast);
}
.heap-node-text {
    fill: var(--text-color-contrast);
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    text-anchor: middle;
    alignment-baseline: middle; /* VSCode thinks this is not a property but it is */
}