.linkedlist-container > h2 {
    text-align: center;
    width: 100%;
}
.linkedlist-svg {
    max-width: 100%;
    border: 2px solid var(--fg-color);
    padding: 1em;
    display: block;
}

.node {
    stroke: var(--bg-color-contrast);
    stroke-width: 2;
    fill: transparent;
}

.node-text {
    fill: none;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    text-anchor: middle;
    alignment-baseline: middle; /* VSCode thinks this is not a property but it is */
}

.link {
    stroke: var(--bg-color-contrast);
    stroke-width: 2;
}

#ground {
    stroke: var(--bg-color-contrast);
    /* inherits stroke-wdith of link */
}

#arrowhead {
    fill: var(--bg-color-contrast);
}