.node {
    stroke: var(--bg-color-contrast);
    stroke-width: 2;
    fill: none;
}

.node-text {
    fill: var(--text-color);
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    text-anchor: middle;
    alignment-baseline: middle; /* VSCode thinks this is not a property but it is */
}

.link {
    stroke: var(--bg-color-contrast);
    stroke-width: 2;
}

#ground {
    stroke: var(--bg-color-contrast);
    /* inherits stroke-wdith of link */
}

#arrowhead {
    fill: var(--bg-color-contrast);
}