.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    padding: 1rem;

    background-color: var(--bg-color);
    color: var(--text-color);

    border-bottom: 3px solid var(--bg-color-contrast);
}

.menu-container .select-structure-btn {
    box-shadow: 0 0 3px var(--fg-color);
}

.menu-container .select-structure-btn:hover {
    transition: 500ms;
    box-shadow: 0 0 8px var(--fg-color);
}

.menu-container .theme-select-btn {
    outline: none;
    border: none;
    width: 60px;

    margin-right: 1rem;

    padding: 0.6rem;
    font-size: 1.8rem;
    color: var(--icon-color);
    background-color: transparent;
}

.menu-container .theme-select-btn:hover {
    cursor: pointer;
    animation: spin 600ms ease-in-out
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }