.visualizer-container {
    display: flex;
    padding: 1rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.visualizer-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.visualizer-header {
    padding: 1rem;
}
.visualizer-container h2 {
    font-family: 'Space Mono', Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    width: 100%;
}
.visualizer-container svg {
    border: 2px solid var(--fg-color);
    padding: 1em;
    display: block;
}