/* Space Mono */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Noto Sans Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* global variables stored in :root */
:root {
  color-scheme: light dark;
  --text-color: #4a4947;
  --text-color-contrast: #eee;
  --bg-color: #faf7f0;
  --bg-color-contrast: #242424;
  --fg-color: #28A745;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --text-color-contrast: #4a4947;
    --bg-color: #242424;
    --bg-color-contrast: #faf7f0;
    --fg-color: #19bc8b;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles for common elements */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.2rem;
}

.button-style1 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 1.2rem;
  color: var(--text-color);

  outline: none;
  border: none;
  padding: 0.6rem;
  border-radius: 0.2rem;

  background-color: transparent;
  border: 2px solid var(--fg-color);
}

.button-style1:hover {
  cursor: pointer;
}

/* util classes */
.display-none {
  display: none;
}